@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Source+Sans+Pro:ital,wght@0,300;1,200&display=swap');

/* reset */
* {
    padding: 0;
    margin: 0;
}



.AboutImage{
    width: auto;
    height: 75vh;
    background-image:  radial-gradient(circle at left, rgb(31, 202, 255), transparent),url(/src/Image/doctor3.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.About-text{
    width: 20vw;
    height: 20vh;
    font-size: 28px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 100px 80px;
}




